.git
*swp
.DS_Store
dist
Setup.hs
*.hi
*.o
demos
data
_cache/
_site/
build
cabal-dev
site
benchmarks
.cabal-sandbox
cabal.sandbox.config
tmp
*hp
*ps
*aux
.stack-work
debug
test/Beale
test/Booth
test/Rosenbrock
